<form action="" method="POST">
  <div>
    <input name="M_DES_URL" class="form-control" type="text" placeholder="M_DES_URL">
  </div>
  <div>
    <input name="M_TEXT" class="form-control" type="text" placeholder="M_TEXT">
  </div>
  <div>
    <input name="M_SENDER" class="form-control" type="text" placeholder="M_SENDER">
  </div>
  <input type="checkbox" name="send-request" value="Car" checked> I have a car<br>
  <div>
    <button type="submit" class="btn btn-success btn-lg" value="Submit">送出</button>
  </div>
</form>

<hr>
{{response}}